

<h3>File List</h3>
<table>
  <tr>
    <th>id</th>
    <th>length</th>
    <th>uploadDate</th>
    <th>fileName</th>
    <th>contentType</th>
    <th>userName</th>
    <th>directory</th>
  </tr>
  <tr *ngFor="let file of files">
    <td><a [href]="getDownloadLink(file.id)">download</a> </td>
    <td><a href="javascript:void(0)" (click)="remove(file.id)">delete</a> </td>
    <td>{{file.id}}</td>
    <td>{{file.length}}</td>
    <td>{{file.uploadDate}}</td>
    <td>{{file.filename}}</td>
    <td>{{file.contentType.substr(0, 16)}}</td>
    <td>{{file.metadata.userName}}</td>
    <td>{{file.metadata.directory}}</td>
  </tr>
</table>
<br><br>
<table>
  <tr><th>id</th><th>name</th><th>age</th></tr>
  <tr *ngFor="let contact of contacts">
    <td>{{contact.id}}</td>
    <td>{{contact.name}}</td>
    <td>{{contact.age}}</td>
  </tr>
</table>
<br><br>
<form #form="ngForm">
  name: <input name="name" [(ngModel)]="contact.name" autocomplete="off"><br>
  age: <input name="age" [(ngModel)]="contact.age" autocomplete="off"><br>
  <label class="custom-file-upload" tabindex="0">
    <input #fileUp type="file" placeholder="Upload file" accept=".csv,.xlsx" multiple><br>
    Choose File
  </label><br>
  <button (click)="submit()">submit</button><br>
</form>

